


<div class="navbar navbar-dark bg-success navbar-expand-lg sticky-top">
    <a href="index.php" class="navbar-brand">OnlineStore</a>
    <button class="navbar-toggler" data-target="#main-nav" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline flex-grow-0 order-8"  method="get" action="search.php">
    {% set search = (result.query) ? result.query : '' %}
        <input type="search" name="query" placeholder="Search" class="form-control  mr-sm-2" value="{{search}}">
        <button class="btn btn-outline-secondary text-white btn-sm " type="submit">Search</button>
    </form>
     <nav class="nav flex-grow-1 order-5 justify-content-end">
     <a class="btn btn-primary mr-sm-2" href="https://www.facebook.com/cracked.man.me?__tn__=%2CdlC-R-R&eid=ARAXnt_FWI-Z7JwmXcYlOnj2KpTB99n4LTkUMNDnUCnbO60cAKYH8wx2DXYazKJK-6_Aw1V1V7H2FBoZ&hc_ref=ARTKdPYECGJtW9xEI6TObAdXMQLbpZ_0N-UghiTEl5AYr-7cRatVEqtuYeqcXzUoiTo">
            <i class="fa fa-facebook "></i>
        </a>
        
         <a class="btn btn-success" href="cart.php">
            <i class="fa fa-shopping-basket"></i>
            {% set cart = (cart_count) ? cart_count : 0 %}
            <span class="badge badge-warning">{{cart}}</span>
        </a>
          <a class="btn btn-success mr-sm-2" href="list.php">
            <i class="fa fa-heart"></i>
            {% set wish = (wish_count) ? wish_count : 0 %}
            <span class="badge badge-warning">{{wish}}</span>
        </a>
    </nav>
    <div class="collapse navbar-collapse flex-grow-1 order-1" id="main-nav">
        <nav class="nav navbar-nav">
        {% for item in navigation.navigation %}
            {% set active = ( item.url == navigation.active ) ? 'active' : '' %}
            <a class="nav-link {{active}}" href="{{item.url}}">{{item.menu}}</a>
        {% endfor %}
        </nav>
    </div>
</div>